/* demo style */
.cd-nugget-info {
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 0px;
    bottom: 0;
    left: 0;
    border: none !important;
  }
  .cd-nugget-info a {
    margin-top: 20px;
    position: relative;
    padding: 2em;
    background-color: #da5067;
    border-radius: 50em;
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    display: inline-block;
  }
  
  .cd-nugget-info a:hover {
    opacity: .8;
  }
  
  .cd-intro {
    position: relative;
    height: 200px;
    line-height: 200px;
    text-align: center;
  }
  .cd-intro h1 {
    color: black;
    font-size: 2.2rem;
  }

  .message-no-meals {
    position: relative;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: 100px;
  }

  .message-no-meals p {
    color: black;
    font-size: 1.8rem;
  }

  @media only screen and (min-width: 600px) {
    .cd-intro {
      height: 300px;
      line-height: 150px;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-intro h1 {
      font-size: 3.2rem;
    }
  }


  .split {
  margin-top: 130px;
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  
}

.left {
  left: 0;
  background-color: white;
}

.right {
  right: 0;
  background-color: white;
}

.centered {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered h2 {
  /* margin-top: 0; */
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}